<div class="content">
  <form>
      <div class="crudForm">
        <h1>Register a book!</h1>
        <label for="inputTitle" class="form-label"><p>Title</p></label>
        <input type="text" class="form-control" id="inputTitle" />
        <p></p>
        <label for="inputGenre" class="form-label"><p>Genre</p></label>
        <input type="text" class="form-control" id="inputGenre" />
  
        <label for="inputAddress2" class="form-label"><p>Size</p></label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Small, medium or large."/>
  
        <button >Register</button>
      </div>
    </form>
</div>
