<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="owl-carousel slider_carousel">
        <div class="card_box" *ngFor="let book of books">
          <img src="" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="book-title">{{ book.title }}</h5>
            <p class="book-genre">{{ book.genre }}</p>
            <p class="book-genre">{{ book.size }}</p>
            <button (click)="openEditModal(book)">Edit</button>
            <button (click)="deleteBook(book.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


