<div class="content">
    <!-- card area start -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel slider_carousel">
                        <div class="card_box">
                            <img src="" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="book-title">Book title</h5>
                                <p class="book-genre">genre</p>
                                <p class="book-genre">size</p>
                                <button>Edit</button>
                                <button>Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- card area end -->
</div>
